.App {
  font-family: Delius Swash Caps, serif;
  height: 100%;
}
.App-container {
  margin: 2%;
}
.header{
  display: flex;
  width: 100%;
  background: #BD7E4D;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  align-items: center;
  justify-content: center;
  font-family: Oleo Script Swash Caps, serif;
  min-height: 10%;
  margin-bottom: 20px;
}

.header > img {
  height: auto;
}

.header > h1 {
  display: inline;
  margin-left: 2%;
  margin-right: 30px;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 0 auto;
}

.main-body > div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.main-body > div > img{
  height: auto;
  object-fit: fill;
}

.main-body > div:first-child > * {
  width: 45%;
}

.main-body p{
  font-family: Delius Swash Caps;
  color: #466A66;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin: 1% 0;
}

.main-body .cabin {
  font-family: Cabin;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

.time {
  text-align: center;
  background-color: #466A66;
  color:white;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
}

.time > h1{
  font-size: 24px;
  margin-bottom: 0;
}

.main-body h2 {
  font-size: 32px;
  line-height: 40px;
  color: #466A66;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.time > p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.involved {
  width: 100%;
  margin-left: 2%;
  display: flex;
}

.involved > img {
  width: 70%;
}

.involved > .list{
  margin-left: 2%;
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.involved > .list > div {
  text-align: center;
  margin-bottom: 20px;
  border: 5px solid #466A66;
  width: 100%;
  height: 50%;
  line-height: 250%;
  font-family: Cabin;
  color: #466A66;
}

.main-body .member{
  text-align: left;
}

.main-body .member{
  font-family: Cabin;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-left: 2%;
}

.main-body .login {
  width: 40%;
  padding: 2%;
  text-align: center;
  background-color: #BD7E4D;
  text-decoration: none;
  color: white;
  border: 3px solid #BD7E4D;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Cabin;
  font-weight: 600;
  font-size: 24px;
}

.main-body .login:first-of-type {
  margin-right: 5%;
}

.buttons{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.list > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list > div {
  font-size: 16px;
  font-weight: 600;
}

.signup{
  width: 100%;
}


label::before, input::before {
  content: "\A";
  white-space: pre;
}

.container-buttons {
  position: absolute;
  right: 20px;
  top: 2%;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  position: absolute;
  right: 20px;
  top: 2%;
  cursor: pointer;
  z-index: 1001;
  font-family: Cabin;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.container > button#active {
  opacity: .7;
  border: 1px solid gray;
}

.links {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 50%;
  height: 100%;
  font-size: 32px;
  font-family: Cabin;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-color: rgba(40, 40, 41, 0.473)
}
.links > a {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  width: 96%;
  margin-left: 2%;
}
form {
  width: 100%;
}

input {
  margin-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

input[type="submit"] {
  background: #bd7e4d;
  box-sizing: border-box;
  border-radius: 5px;
  color:#fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
input.checkbox {
  width: auto;
}

.pickup {
  display: flex;
  width: 98%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.top { 
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.top > div {
  width: 48%;
}
.top > div > label {
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.top > div > input {
  background: #D8E4E1;

  /* Sch1/Neutrals/MidGray */
  border: 1px solid #5D5E60;
  box-sizing: border-box;
}

.pickup > form > label {
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.pickup > form > input {
  background: #D8E4E1;

  /* Sch1/Neutrals/MidGray */
  border: 1px solid #5D5E60;
  box-sizing: border-box;
}

.pickup > form > input[type=submit]{
  background: #BD7E4D;

  /* Sch1/Accent/Twine */
  border: 3px solid #BD7E4D;
  box-sizing: border-box;
  border-radius: 5px;
}

.signup > div {
  display: flex;
  justify-content: space-evenly;
}
.signup > div > button {
  background-color: #466a66;
  border: none;
  color:#fff;
  cursor: pointer;
  padding: 40px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.signup > div{
  display: flex;
  justify-content: space-evenly
}

.signup > div > button:hover {
  background-color: #466A66;
  opacity: .6;
}
.signup > div > button#active {
  background-color: #466A66;
  opacity: .6;
}

.business-home > div {
  display: flex;
  justify-content: space-evenly;
}

.business-home button {
  background-color: #466a66;
  border: none;
  color:#fff;
  cursor: pointer;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.business-home button:hover {
  background-color: #466A66;
  opacity: .6;
}

.business-home button#active {
  background-color: #466A66;
  opacity: .6;
}

.business-home > div{
  display: flex;
  justify-content: space-evenly;
}

div.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: #466A66;
  color: #F8F9F4;
}

.push{
  height: 50px;
}

.wrapper{
  min-height: 100%;
  margin-bottom: -50px;
}
#root{
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}