.form{
    display: flex;
    width: 96%;
    margin-left: 2%;
}
form {
    width: 100%;
}

input {
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input.checkbox {
    width: auto;
}

.pickup {
    display: flex;
    width: 98%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.top { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.top > div {
    width: 48%;
}
.top > div > label {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.top > div > input {
    background: #D8E4E1;

    /* Sch1/Neutrals/MidGray */
    border: 1px solid #5D5E60;
    box-sizing: border-box;
}

.pickup > form > label {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
}

.pickup > form > input {
    background: #D8E4E1;

    /* Sch1/Neutrals/MidGray */
    border: 1px solid #5D5E60;
    box-sizing: border-box;
}

.pickup > form > input[type=submit]{
    background: #BD7E4D;

    /* Sch1/Accent/Twine */
    border: 3px solid #BD7E4D;
    box-sizing: border-box;
    border-radius: 5px;
}
